[Unit]
Description=AudioLizard web server

[Service]
ExecStart=/bin/su yang -c 'bash /home/yang/.startup/webreader-webserver.bash'
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
